img {
    max-width: 100%;
}

#blue {
    background-color: #1b72e8;
    width: 100%;
}

i {
    width: 25px;
}


/* Regole generali blocchi */

.wrapperclassic{
    border: 1px solid grey;

}

/* Regole navbar */

.ms_high {
    height: calc(100vh - 56px);
    overflow: auto;
}

.ms_search {
    width: 100%;
}

/* Regole next class */

.ms_avatarclass img {
    max-width: 30px;
}

.ms_action {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
}

.ms_action i {
    position: absolute;
    color: grey;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}