img {
    max-width: 100%;
}

#blue {
    background-color: #1b72e8;
    width: 100%;
}

i {
    width: 25px;
}

/* Regole boolean menu */
.ms_bg_pills {
    background-color: rgba(0, 0, 0, 0.3);;
}

/* Regole generali blocchi */

.wrapperclassic{
    border: 2px solid #cecccc;
    border-radius: 5px;
    margin: 20px 10px;

}

.wrapperclassic h2 {
    display: inline-block;
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: 2px solid #cecccc;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Regole navbar */

.ms_high {
    height: calc(100vh - 56px);
    overflow: auto;
}

.ms_search {
    width: 100%;
}

.ms_search i {
    color: #5b5858;
}

#ms_orange {
    color: #ff8f00;
}

.ms_navbg {
    background-image: url(../img/sidebar-bg.png);
}


/* Regole dropdown menu */
#ms_dropdownmenu {
    display: inline-block;
    position: relative;
}

#ms_dropmenu_position {
    position: absolute;
    top: 120%;
    left: -650%;
}

/* Regole next class */
#nextclass {
    padding-left: 20px;
    padding-right: 20px;
}

.ms_avatarclass img {
    max-width: 30px;
}

.ms_action {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
}

.ms_action i {
    position: absolute;
    color: grey;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}

/* Regole liste interne */

.ms_wrapperline {
    margin: 5px;
    border: 1px solid #cecccc;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}

.ms_wrapperline ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.ms_wrapperline li {
    padding: 5px 0px;
}
/* Regole margini grey */

.ms_bt_grey {
    border-top: 1px solid #cecccc;
}
.ms_bb_grey {
    border-bottom: 1px solid #cecccc;
}

/* Regola per div linea grey */
.ms_divline {
    height: 1px;
    margin-left: -10px;
    width: calc(100% + 15px);
    background-color: #cecccc;
}

/* Bottoni done failed process */

.ms_light_button {
    padding: 0px 4px;
}


/* Form a comparsa */
/* 
#ms_formcomarsa {
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    transition: .3s;
    transform: translateX(-100%);
}

#ms_formin {
    transform: translateX(0%);
} */

.ms_allb_wh {
    border: 1px solid white;
    border-radius: 5px;
}